
.box {
    display: flex;
    margin: 10px;
    padding: 30px;
}

.gName {
    font-size: 24px;
    text-decoration: underline;
    text-underline-offset: 6px;
}

.gPrice {
    margin-top: 10px;
    font-size: 22px;
    font-weight: 700;
    color: red;
}

.else {
    color: #939393;
}

.num {
    width: 30px;
    height: 25px;
    text-align: center;
}

.btn {
    width: 25px;
    height: 25px;
}

.addToCart {
    margin-top: 20px;
    height: 50px;
    /* background-color: rgb(255, 169, 9); */
    background-color: rgb(255, 41, 41);
    border-radius: 5px;
    color: white;
    position: absolute;
    bottom: 0;
    font-weight: bolder;
}